.dropbtn {
  float:left;
    background:url("person.png");
    width:69px;
    height:59px;
    color: #F0F0F0;
    padding: 15px;
    font-size: 16px;
    border: none;
    cursor: pointer;
margin-left:1150px;
margin-top:-60px; 
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

.dropdown {
    position: absolute;
    display: inline;
}

.dropdown-content {
    display:none;
    position:relative;
    background-color: #f9f9f9;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
    min-width: 50px;
    overflow:auto;
 margin-right:20px;
margin-top:0px; 
    
}

.dropdown-content a {
    color: black;
  padding: 12px 16px;
    text-decoration: none;
    display:inline-block;
  
}

.dropdown a:hover {background-color: #F0F0F0;}

.show {display:block;}


body
{
padding:0;
margin:0;
}
.WebContainer{
    width: 100%;
    height: auto;
}
.articles{
    width:90%; /*Takes 90% width from WebContainer*/
    height: auto;
    margin: auto;
} 
div
{
font-size:16px;
height:2em;
}                                                           
p{
margin-top:-83px;
margin-left:600px;

}
.person
{margin-left:1160px;
margin-top:-64px;
}

.serh
{
margin-left:890px;
margin-top:-112px;


}
.mes{
margin-left:40px;
margin-top:-29px;
background-size: 40px 90px;
width:300px;
height:118px;
}
.home{
margin-top:-23px;
background-size: 120px 110px;
margin-right:245px;

}

.link
{
 display:inline-block;
 border:solid 2px #637074;
 border-radius:2px;
 text-decoration:none;
 background:#637074;
 font-size:22px;
 color: #FFFFFF;
 padding:20px;
background-size: 120px 110px;
margin-left:1260px;
margin-top:60px;
height:12px;
width:40px;
text-align:center;
cursor:pointer;
}
.link:hover
{
text-align:center;
 display:inline-block;
 border:solid 2px #8693ab ;
 border-radius:2px;
 text-decoration:none;
 background:#8693ab;
 font-size:22px;
 color:#FFFFFF;
 padding:20px;
}

div.nav
{
height:120px;
width:1360px;
background:#aab9cf;

font-family: 'VT323', monospace;
}
.dprect
{
  border-width:absolute;
  border-color: rgb(0, 0, 0);

  border-style: solid;
  background-color: rgb(255, 255, 255);margin-left:0px;
 
  left: -100px;
  top: 18px;
  width: 225.88px;
  height: 240.88px;
 

}



.namerect1{
  border-radius: 10px;
  background-color: rgb(7, 4, 60);
    margin-left:260px; margin-top:-261px; left: 113px;
  top: 300px;
  width: 218px;
  height: 111px;
 
text-align:center}

.namerect2{
  border-radius: 10px;
  background-color: rgb(7, 4, 60);
   margin-left:500px;  margin-top:-110px;left: 113px;
  top: 300px;
  width: 218px;
  height: 111px;
 
}

.namerect3{
  border-radius: 10px;
  background-color: rgb(7, 4, 60);
    margin-left:740px; margin-top:-110px; left: 113px;
  top: 300px;
  width: 218px;
  height: 111px;
 
}

.namerect4{
  border-radius: 10px;
  background-color: rgb(7, 4, 60);

    margin-left:980px; margin-top:-110px; left: 113px;
  top: 300px;
  width: 218px;
  height: 111px;
 
}

#sidebar{
    float:      left;
    width:      200px;
    height:     100%;
    background:	#F0F0F0;
    overflow: auto;
    
}
#sidebar,n{
padding-left:10px;
padding-top:20px;

}
#sidebar,o{
padding-left:14px;
padding-top:13px;
}
#sidebar,r{
padding-left:14px;

}#sidebar,t{
padding-left:14px;

}#sidebar,v{
padding-left:14px;

}#sidebar,w{
padding-left:14px;

}


#content{
    float:      left;
    width:      500px;
    height:     50%;
    background: #F0F0F0 ;
    margin-left:210px;
margin-top:100px;
}




#sidebar1{
    float:      right;
    width:      200px;
    height:     100%;
    background:	#F0F0F0;
 overflow: auto;
}#sidebar1,n{
padding-left:10px;
padding-top:20px;


}
#sidebar1,o{
padding-left:14px;
padding-top:13px;
}
#sidebar1,r{
padding-left:14px;

}#sidebar1,t{
padding-left:14px;

}#sidebar1,v{
padding-left:14px;

}#sidebar1,w{
padding-left:14px;

}






 